<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zikirmaleman.sabilillah" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Zikir_maleman</name>
    <description>
        Aplikasi Zikir Maleman di Masjid sabilillah Malang 1438 H
    </description>
    <author email="mumtazhaqiqy@gmail.com" href="http://mumtazhaqiqy.com">
        Mumtaz Haqiqy
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="orientation" value="portrait"/>
    <preference name="fullscreen" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />


    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <platform name="android">
        <icon density="mdpi" src="www/res/icon/android/mipmap-mdpi/icon.png" />
        <icon density="hdpi" src="www/res/icon/android/mipmap-hdpi/icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/mipmap-xhdpi/icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/mipmap-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/mipmap-xxxhdpi/icon.png" />
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <splash src="splash.png" />

    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
